---
import GitHubIcon from "@/assets/icons/github.svg";
---

<header class="py-6 px-4 max-w-6xl mx-auto w-full">
	<div class="flex justify-between items-center">
		<a href="/" class="text-xl font-bold text-neutral-800 hover:text-primary-900 transition-colors">arumi.top</a>
		<nav>
			<ul class="flex gap-8 items-center">
				<li>
					<a href="/blog" class="text-gray-800 hover:text-primary-900 transition-colors">Blog</a>
				</li>
				<li>
					<a href="https://github.com/arumi-s" target="_blank" rel="noopener noreferrer" class="text-gray-800 hover:text-primary-900 transition-colors">
						<GitHubIcon size={20} class="fill-current" />
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
